/* ---------- Color Module Styles ----------- */

body {
    color: #3b3b3b;
    background: #f2f2f2;
}

#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
    background: #ffffff;
}

.tabs ul.primary li a.is-active {
    background-color: #fff;
}

.tabs ul.primary li.is-active a {
    background-color: #ffffff;
    border-bottom-color: #ffffff;
}

#navbar-top {
    background-color: #000000;
    background-image: url(../img/just-waves.png);
    background-repeat: repeat;
    background-blend-mode: multiply;
}

#navbar-main {
    background-color: #2b3951;
}


.views-exposed-form form[action="/search"] div[data-drupal-selector="edit-actions"] > button[value="Search"] {
    padding: .5rem;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color: #ffa500;
    border-color: #ffa500;
    color: #4b82bf;
}

#views-exposed-form-solr-search-content-page-1:focus-within fieldset.form-type-search-api-autocomplete input {

    border: solid 1px #b3ffe0;

}

.navbar-dark .navbar-nav .nav-link {
    color: #b3ffe0;
}
.site-name-slogan .navbar-brand-slogan {
    padding-left: 1.25rem;
    color: #f2f2f2;
}

#navbar-main .nav-link {
    color: #b3ffe0;
}

.btn-warning {
    background-color: #ffa500;
    border-color: #ffa500;
}

.btn-warning:hover {
    background-color: #007bff;
    border-color: #007bff;
}

.navbar-toggler {
    border: 0;
    align-self: flex-start;
    margin-top: 0.5rem;
}


.nav-link:hover, .nav-link:focus {
    color: #ffffff;
}
.nav-tabs .nav-link:hover, .nav-link:focus {
    color: #4b82bf;
}

a,
.link {
    color: #4b82bf;
}
a {
    color: #4b82bf;
}


a:hover,
a:focus,
.link:hover,
.link:focus {
    color: #4b82bf;
    decoration:none;
}

a:active,
.link:active {
    color: #4b82bf;
}

.page-item.active .page-link {
    background-color: #0071b3;
    border-color: #0071b3;
}

.page-link,
.page-link:hover {
    color: #0071b3;
}

.sidebar .block {
    background-color: #f6f6f2;
    border-color: #f9f9f9;
    border-radius: 6px;
}

details summary {
    background-color: #f6f6f2;
    border-color: #f9f9f9;
    padding: 12px;
    border-radius: 6px;
}

.sidebar h2 {
    margin: 0 0 0.5em;
    border-bottom: none;
    padding-bottom: 5px;
    text-shadow: 0 1px 0 #fff;
    font-size: 1.2em;
    line-height: 1.2;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.ui-slider-pips [class*=ui-slider-pip-selected] {
    border-color: #007bff;
    color: #007bff;
}

.btn-outline-primary {
    border-color: #007bff;
}


.btn-primary:hover,
.btn-primary:focus {
    background-color: #0256b1;
}

.site-footer {
    background: #f2f2f2;
    background-image: url(../img/what-the-hex.png);
    background-repeat: repeat;
    background-blend-mode: multiply;
}

/* Node edit buttons */
#edit-submit {
  background-color: #0a8c7d;
}
#edit-preview {
  background-color: #0a8c7d;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #007bff
}

.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
    color: #fffeff;
}


/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
    margin-left: 0;
    margin-right: 20px;
}

[dir="rtl"] .color-form .form-item label {
    float: right;
}

[dir="rtl"] .color-form .color-palette .lock {
    right: -20px;
    left: 0;
}
